body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.form-gp {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

h5 {
  text-align: center;
  font-weight: bold;
  font-size: 28px; /* Tamaño de la letra */
}

.label-gp {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.input-gp[type="text"]{
  width: 100%;
  height: 80%;
  padding: 8px;
  border: none;
  border-bottom: 3px solid #000000; /* Borde inferior */
  border-radius: 15px;
  background-color: transparent; /* Fondo transparente */
  margin-bottom: 15px; /* Separación inferior */
}

.button-gp-create[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 20px; /* Esquinas redondeadas */
  margin-top: 25px; /* Separación superior */
}

.button-gp-create[type="submit"]:hover {
  background-color: #505050;
}
/*/////////////////////////////////////*/
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc532;
  }
  
  th {
    background-color: #000000;
  }
  
  .white-text {
    color: white;
  }

  .button-gp {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f2f2f2;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #555555;
    cursor: pointer;
    border-radius: 4px;
  }

  .button-gp.edit {
    background-color: rgb(20, 179, 227);
    color: white;
  }

  .button-gp.delete {
    background-color: red;
    color: white;
  }

  .button-gp.create {
    background-color: green;
    color: white;
  }

  .button-gp.show {
    background-color: #b4b066;
    color: white;
  }

  .button-gp:hover {
    background-color: #dddddd;
  }

  .table-actions {
    text-align: right;
    margin-bottom: 10px;
  }

  .table-container {
    margin-top: 20px;
  }
  
